.color-picker-select {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-picker-select li {
  cursor: pointer;
  margin: 4px;
  display: inline-block;
}

.color-picker-select .color-option {
  width: 20px;
  height: 20px;
}